canvas{
    max-width: 50px;
    max-height: 100px;
    display: block;
    outline: 3px solid green;
}

#resultschartsection{
    outline: 6px solid red;
    max-width: 50px;
    max-height: 100px;
}
